<section class="navbar">
    <div class="nav-container">
        <div class="brand">
            <a href="#!"><%= image_tag("odin_brand.svg", class: "logo") %>Odinbook</a>
        </div>
        <nav>
            <ul class="nav-list">
                <li><a href="#!">Posts</a></li>
                <li><a href="#!">Sign-in</a></li>
                <li><a href="#!">Register</a></li>
            </ul>
        </nav>
    </div>
</section>