<div class="post">
    <%= link_to post.title, post_path(post) %>
    <div class="post__actions">
        <%= button_to "Delete",
                        post_path(post),
                        method: :delete,
                        class: "btn btn--secondary" %>
        <%= link_to "Edit",
                        edit_post_path(post),
                        class: "btn btn--secondary" %>
    </div>
</div>