<div class="post">
    
    <%= link_to post.title, post_path(post) %>
    <%= link_to post.user.username %>
    <div class="post__actions">
        <% if current_user.id == post.user.id %>
            <%= link_to "Delete",
                            post_path(post),
                            method: :delete,
                            class: "btn" %>
            <%= link_to "Edit",
                            edit_post_path(post),
                            class: "btn" %>
        <% end %>
    </div>
</div>