.brand {
    // float: left;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
    // border: var(--border-dark);
    align-self: end;
      
    a,
    a:visited {
      color: var(--color-primary);
    }
  }