.error-message {
  position: relative;
    width: 100%;
    font-size: var(--font-size-s);
    color: var(--color-primary);
    background-color: var(--color-primary-error);
    padding: var(--space-xs);
    border-radius: var(--border-radius);
  }

  .success-message {
    position: relative;
    width: 100%;
    font-size: var(--font-size-s);
    color: var(--color-primary);
    background-color: var(--color-primary-success);
    padding: var(--space-xs);
    border-radius: var(--border-radius);
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0.1rem;
    padding-right: 0.5rem;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    font-size: var(--font-size-xxl);
}