.image {
    

    &--brand {
        float: left;
        padding-right: 10px;
        // border: var(--border-dark);
    }

    &--login {

        // border: var(--border-dark);
    }

    &--icon-header {
        vertical-align: middle;
        display: inline-block;
        padding-right: var(--space-s);
        line-height: var(--line-height-navbar);
        // border: var(--border-dark);
    }

}