.image {
    

    &--brand {
        float: left;
        padding-right: 10px;
        // border: var(--border-dark);
    }

    &--login {

        // border: var(--border-dark);
    }

    &--icon-header {
        vertical-align: middle;
        display: inline-block;
        padding-right: var(--space-s);
        line-height: var(--line-height-navbar);
        // border: var(--border-dark);
    }

    &--icon-list {
        float:left;
    }

    &--postshow {
        float:left;
        padding-right: var(--space-s);
        // border: var(--border-dark);
    }

    &--icon-comment-list {
        display: flex;
        align-items: center;
        padding-right: var(--space-xs);
        // padding-top: var(--space-xs);
        float:left;     
    }

    &--profile-icon {
        // float:left;
        width: 65px;
        height: 65px;
        // border-radius: 50%;
        object-fit: cover;
        border: var(--border);
        background-color: var(--color-white);
        border-radius: var(--border-radius-round);
        box-shadow: var(--shadow-small-profile); /* Add shadow */
    }

    &--profile-icon-small {
        width: 30px;
        height: 30px;
        // border-radius: 50%;
        // object-fit: cover;
        float: left;
        align-self: center;
        border: var(--border);
        background-color: var(--color-white);
        border-radius: var(--border-radius-round);
        box-shadow: var(--shadow-small-profile); /* Add shadow */
        
    }
    &--icon-profile {
        float:left;
        padding-right: var(--space-s);
    }
    &--profile-details {
        padding-right: var(--space-xxxxl);
    }

}