.login {
    // padding-top: 20px;
    // border: var(--border-dark);
    h2 {
        padding-top: var(--space-l);
        padding-bottom: var(--space-l);
    }

    .actions {
        padding-top: var(--space-s);
        padding-bottom: var(--space-s);
    }
}