nav {
  // float: right;
  // border: var(--border-dark);

  ul {
      font-size: var(--font-size-s);
      list-style: none;
      margin: 0;
      padding: 0;
      // border: var(--border-dark);

      display: flex;
      justify-content: flex-end;
      gap: var(--space-l);
      // align-items:center;
    li {
      float: left;
      position: relative;
      
      
      a {
        display: block;
        padding: 10px 20px 0 20px;
        
        
        &:hover {
            color: var(--color-primary);
        }
         &::before {
           transition: 400ms;
           height: 4px;
           content: "";
           position: absolute;
           background-color: hsl(44, 100%, 49%);;
           width: 0%;
           bottom: 0px;   
        }

        &:hover::before{
          width: 70%;
        }
      } 
    }
  }

  // .navbar_menu {
  //   // border: var(--border-dark);
    
  // }
  
  // .navbar_profile{
  //   // border: var(--border-dark);
  //   font-size: var(--font-size-s);
  // }


}
