nav {
  // float: right;
  // border: var(--border-dark);

  ul {
      font-size: var(--font-size-s);
      list-style: none;
      // margin: 0;
      // padding: 10px;
      // border: var(--border-dark);

      display: flex;
      justify-content: flex-end;
      // gap: var(--space-l);
      // align-items:center;
    li {
      float: left;
      position: relative;
      // border: var(--border-dark);
      
      a {
        display: block;
        padding: 10px 20px 0 20px;
        
        
        &:hover {
            color: var(--color-primary);
        }
         &::before {
           transition: 400ms;
           height: 4px;
           content: "";
           position: absolute;
           background-color: hsl(44, 100%, 49%);;
           width: 0%;
           bottom: 0px;   
        }

        &:hover::before{
          width: 70%;
        }
      } 
    }
  }

  @media (max-width: 680px) {
    ul {
      font-size: var(--font-size-xs);
      list-style: none;
      // margin: 0;
      // padding: 10px;

      display: flex;
      justify-content: space-evenly;
      // gap: var(--space-l);
      // align-items:center;
    li {
      // float: left;
      // position: relative;
      // border: var(--border-dark);
      
      a {
        display: block;
        padding: 0px 5px 0px 0px;
      }
    }
  }
}
}
