.post {
    display: grid;
    // grid-template-columns: 0.6fr 0.2fr 0.2fr;
    align-items: center;

    // border: var(--border-dark);
    // gap: 15px 10px;
  
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    margin-bottom: var(--space-m);
    padding: var(--space-xs);

    &__post_show {
      // border: var(--border-dark);

      .clearfix::after {
        content: "";
        display: table;
        clear: both;
      }
    }

    @include media(tabletAndUp) {
      padding: var(--space-xs) var(--space-m);
    }

    &__liked_count {
      font-size: var(--font-size-xl);
      padding-left: var(--space-xs);
    }
  
    &__actions {
      display: flex;
      flex: 0 0 auto;
      align-self: flex-start;
      gap: var(--space-xs);
    }

    &__post_preview {
      display: grid;
      grid-template-columns: 0.6fr 0.3fr 0.2fr;
      align-items: center;
      // justify-content: center;
    }
    .profile-link {
      display: flex;
      align-items: center;
      gap: var(--space-xs);
    }
    &__actions {
      display: flex;
      gap: var(--space-xs);
    }


    &__f1{
      // border: var(--border-dark);
      padding: var(--space-xs);
      // display: flex;
      // align-items: center;
  }
    &__details{
      border: var(--border-dark);
    }
}

.avatar {

  .avatar_select {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: var(--space-m);

    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    margin-bottom: var(--space-m);

    cursor: pointer;
  }

  .image--profile-icon.selected{
    border: var(--border-dark);
  }

  h3 {
    padding-bottom: var(--space-m);
  }
}
