.post {
    display: grid;
    // justify-content: space-evenly;
    grid-template-columns: 0.6fr 0.2fr 0.2fr;
    align-items: end;

    // border: var(--border-dark);
    // gap: 15px 10px;
  
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    margin-bottom: var(--space-m);
    // padding: var(--space-xs);

  
    @include media(tabletAndUp) {
      padding: var(--space-xs) var(--space-m);
    }

    &__liked_count {
      font-size: var(--font-size-xl);
      padding-left: var(--space-xs);
    }
  
    &__actions {
      display: flex;
      flex: 0 0 auto;
      align-self: flex-start;
      gap: var(--space-xs);
    }

    &__f1{
      // border: var(--border-dark);
      padding: var(--space-xs);
      // vertical-align: middle;
    }
  }