<!-- app/views/layouts/_flash.html.erb -->

<div class="container">
    <% if notice %>
        <% flash.each do |key, value| %>
            <div class="error-message <%= key %>"><%= value %></div>
        <% end %>
    <% end %>

    <% if alert %>
        <div class="alert"><%= alert %></div>
    <% end %>


</div>