<section class="footer">

<div class="footer_author">
  <h5>
    <%= link_to "#" do %>
      <%= image_tag("icon_author.png", class: "image image--icon-header", id: "author-icon") %>
      created by jwgim
    <% end %>
  </h5>
</div>

</section>